.avatar {
	border-radius: 50%;
	float: left;
	margin-right: 10px;
}

.center-block {
    float: none !important;
    text-align: center;
}

#content {
	margin-bottom: 20px !important;
}

.custom-contacts {
	margin-top: -20px;
}

.custom-contacts .list-group-item {
	float: left;
	width: 230px;
	height: 100px;
	margin: 0 5px 5px 0;
	border-radius: 4px !important;
}

.custom-contacts tr td,
.custom-messages-list tr td,
.custom-messages-detail tr td {
	vertical-align: top !important;
}

.custom-messages-list .list-date,
.custom-messages-detail .list-date {
	margin-left: 15px !important;
}

.custom-messages-list .list-value,
.custom-messages-detail .list-value {
	margin-left: 10px !important;
}

footer {
    clear: both;
}

header {
	margin-top: 20px !important;
}

.main-menu li a {
	padding: 10px 10px;
}

.main-menu .contacts  {
	border-top: 1px solid blue;
}

.main-menu .glyphicon  {
	padding-right: 5px;
}

.message-detail {
	margin-top: 15px !important;
	padding-left: 15px;
}

.message-detail-left {
	margin-top: 10px !important;
}

.message-detail-right {
	margin-top: 8px !important;
}

.navbar {
	border: none;
    margin-bottom: 0 !important;
}

.sidebar-nav {
    min-height: 0;
    box-shadow: 0 0 10px #BDBDBD;
	border-radius: 5px;
    margin-bottom: 0;
    padding: 0;
	max-height: none;
}

.powered-by {
    text-align: right;
}

.whitespace:before {
    content: "\2122";
    color: transparent !important;
}

/* Mobile */
@media only screen and (max-width: 767px) {

    .copyright {
        text-align: center;
    }

	.custom-contacts,
	.custom-messages-list,
	.custom-messages-detail {
		margin-top: 15px !important;
	}

	.custom-messages-detail .list-group-item {
		padding-left: 0 !important;
	}

	.custom-messages-detail .list-group-item .avatar {
		margin-left: 10px !important;
		margin-right: 0 !important;
	}

    #for-is-ajax {
        color: white;
        margin-top: 15px;
    }

	.header.well-sm {
		margin-left: 15px !important;
		margin-right: 15px !important;
	}

    .main-menu li:hover {
        margin-left: inherit;
    }

    .main-menu li.active {
        margin-left: inherit;
    }

	.message-detail.well-sm {
		margin-left: 15px !important;
	}

    .nav-sm {
        display: block;
        margin-bottom: 10px;
        border-bottom: solid white 1px;
        padding-bottom: 10px;
    }

    .powered-by {
        text-align: center;
    }

    .sidebar-nav {
        position: relative;
        z-index: 3;
		border-radius: 5px;
        margin: 0 15px 10px 15px !important;
        padding: 0;
    }

    .table-wrapper .pinned {
        box-shadow: 0 0 20px black;
    }

}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 979px) {
    .box-header h2 {
        font-size: 13px !important;
    }

    .box-header h3 {
        font-size: 11px !important;
    }

    .box-icon {
        display: none;
    }

	.header.well-sm {
		margin-left: 15px !important;
		margin-right: 15px !important;
	}

    .main-menu-span {
        width: 6.2% !important;
        margin-right: 4%;
    }

    .top-menu > li i {
        display: none;
    }

}

/* Computer */
@media only screen and (min-width: 980px) {
    a, button, input[type=submit], input[type=button], .product-img {
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
    }

	#content {
		padding-right: 1px !important;
	}

}
