.center-block {
    float: none !important;
    text-align: center;
}

#content {
	margin-bottom: 20px !important;
}

.custom-messages-list tr td,
.custom-messages-detail tr td {
	vertical-align: top !important;
}

.custom-messages-list .list-date,
.custom-messages-detail .list-date {
	margin-left: 15px !important;
}

.custom-messages-list .list-value,
.custom-messages-detail .list-value {
	margin-left: 10px !important;
}

footer {
    clear: both;
}

.message-detail-left,
.message-detail-right {
	margin-top: 10px !important;
}

.message-detail-right.mes {
	padding-left: 10px !important;
}

.main-menu li a {
	padding: 10px 10px;
}

.navbar {
	border: none;
    margin-bottom: 0 !important;
}

.sidebar-nav {
    min-height: 0;
    box-shadow: 0 0 10px #BDBDBD;
	border-radius: 5px;
    margin-bottom: 0;
    padding: 0;
	max-height: none;
}

.powered-by {
    text-align: right;
}

.whitespace:before {
    content: "\2122";
    color: transparent !important;
}

/* Mobile */
@media only screen and (max-width: 767px) {

    .copyright {
        text-align: center;
    }

	.custom-messages-list,
	.custom-messages-detail {
		margin-top: 15px !important;
	}

	.custom-messages-detail .list-group-item {
		padding-left: 0 !important;
	}

	.custom-messages-list .list-group-item {
		padding-left: 35px !important;
	}

    #for-is-ajax {
        color: white;
        margin-top: 15px;
    }

    .main-menu .nav-header {
        color: white;
    }

    .main-menu li:hover {
        margin-left: inherit;
    }

    .main-menu li.active {
        margin-left: inherit;
    }

/*
    .main-menu a:hover, .nav-sm a:hover {
        background: none !important;
        color: grey;
    }
*/

    .navbar-brand {
        font-family: 'Shojumaru', cursive, Arial, serif;
        letter-spacing: 2px;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        width: 40%;
        font-size: 14px;
    }

    .nav-canvas {
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -ms-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
    }

    .navbar-default .navbar-toggle.active {
        box-shadow: 0 0 7px rgb(0, 255, 40);
        border: solid 1px white;
    }

    .navbar-default .navbar-toggle:focus {
        background-color: inherit;
    }

     .nav-sm {
        display: block;
        margin-bottom: 10px;
        border-bottom: solid white 1px;
        padding-bottom: 10px;
    }

   .navbar-toggle {
        margin-left: 5px;
        margin-right: 0;
    }

    .powered-by {
        text-align: center;
    }

    .sidebar-nav {
        position: relative;
        z-index: 3;
		border-radius: 5px;
        margin: 0 15px 10px 15px !important;
        padding: 0;
    }

    .sidebar-nav .nav-canvas {
        top: -20px;
        left: -90%;
        position: absolute;
        width: 80%;
        z-index: 2;
        background: rgba(0, 0, 0, 0.8);
        margin: 0 !important;
        border-radius: 0 0 20px 0;
        padding-bottom: 10px;
        will-change: left;
    }

 /*
    .sidebar-nav a {
        border: none !important;
        color: white;
    }
*/

   .sidebar-nav.active .nav-canvas {
        left: -20px;
        border-right: solid 1px white;
        border-bottom: solid 1px white;
    }

    .table-wrapper .pinned {
        box-shadow: 0 0 20px black;
    }

	.well-sm {
		margin-left: 15px !important;
		margin-right: 15px !important;
	}

}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 979px) {
    .box-header h2 {
        font-size: 13px !important;
    }

    .box-header h3 {
        font-size: 11px !important;
    }

    .box-icon {
        display: none;
    }

	.custom-messages-list .list-group-item {
		padding-left: 45px !important;
	}

    .main-menu-span {
        width: 6.2% !important;
        margin-right: 4%;
    }

/*
    .sidebar-nav li span {
        display: block !important;
    }

    .sidebar-nav li a, .sidebar-nav .nav-header {
        text-align: center
    }
*/

    .top-menu > li i {
        display: none;
    }

}

/* Computer */
@media only screen and (min-width: 980px) {
    a, button, input[type=submit], input[type=button], .product-img {
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
    }

	#content {
		padding-right: 1px !important;
	}

	.custom-messages-list .list-group-item {
		padding-left: 50px !important;
	}

}
