.avatar {
	margin: 0 auto;
}

.center-block {
    float: none !important;
    text-align: center;
}

#content {
    padding-left: 10px !important;
    padding-right: 0 !important;
}

.custom-users table {
	margin-bottom: 0 !important;
}

.custom-users tr td,
.custom-messages-list tr td,
.custom-messages-detail tr td {
	vertical-align: top !important;
}

.custom-messages-list tr td.list-name,
.custom-messages-detail tr td.list-name {
	vertical-align: middle !important;
}

.custom-users tr td .small,
.custom-messages-list tr td .small,
.custom-messages-detail tr td .small {
	margin-top: 2px !important;
}

.custom-messages-list .list-value,
.custom-messages-detail .list-value {
	margin-left: 10px !important;
}

footer {
    clear: both;
	padding-top: 20px !important;
	border-top: 1px solid rgb(240, 240, 240) !important;
}

.github-avatar {
    margin-right: 10px;
}

.github-avatar span {
    vertical-align: super;
}

.main-menu {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.main-menu .active > a {
	cursor: default;
}

.main-menu .users {
	border-top: 1px solid rgb(220, 220, 220);
}

.main-menu .new-letter {
	border-bottom: 1px solid rgb(220, 220, 220);
}

.main-menu .glyphicon {
	padding-right: 5px;
}

.main-menu  a .badge {
	color: rgb(51, 122, 183) !important;
	background-color: rgb(255, 255, 255) !important;
}

.main-menu  .active a .badge {
	color: rgb(51, 122, 183) !important;
	background-color: rgb(255, 255, 255) !important;
}

.navbar {
	border: none;
    margin-bottom: 0 !important;
}

.navbar-inner {
    padding-top: 5px;
    line-height: 25px;
    height: 50px;
}

.navbar-inner .btn-group {
    margin: 8px 5px 0 0;
}

.navbar-inner .btn-group .btn {
    background-color: #fff !important;
	border: 1px solid rgb(220, 220, 220);
}

.navbar-inner .btn-group .btn:hover {
    background-color: rgb(240, 240, 240) !important;
}

.navbar-inner .btn-group .btn:focus {
	box-shadow: 0 0 3px #BDBDBD;
	border: solid 1px white;
    background-color: #eee !important;
}

.navbar-inner .btn-group .dropdown-menu {
    margin-left: 15px !important;
}

.navbar-inner .btn-group span,
.navbar-inner .btn-group i {
	color: rgb(35, 82, 124);
}

.navbar-search {
    margin-top: 8px;
}

.navbar-search .search-query:hover {
	border-color: rgb(102, 175, 233);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
}

.navbar-search .search-reset {
    margin-top: -16px;
    margin-bottom: 3px;
}

.navbar-search .search-reset:hover {
	cursor: pointer;
}

.noscript-alert {
	border: 1px dashed grey;
	border-radius: 5px;
}

.powered-by {
    text-align: right;
}

#scrollTop {
	display: block;
	cursor: pointer;
	width: 100px;
	background: none repeat scroll 0% 0% rgb(240, 240, 240);
	border: 1px solid rgb(204, 204, 204);
	border-radius: 5px 5px 5px 5px;
	text-align: center;
	padding: 5px;
	position: fixed;
	bottom: 40px;
	right: 5px;
	cursor: pointer;
	color: rgb(102, 102, 102);
	text-decoration: none;
	z-index: 100;
	outline: medium none;
}

#scrollTop:hover {
	background: none repeat scroll 0% 0% rgb(230, 230, 230);	
}

.sidebar-nav {
    min-height: 0;
	max-height: none;
    box-shadow: 0 0 10px #BDBDBD;
	border-radius: 5px;
    margin: 0 !important;
	padding: 0 !important;
}

.sidebar-nav .navbar-canvas {
	padding-bottom: 0 !important;
}

#top-section {
    margin-bottom: 10px !important;
	border-bottom: 1px solid rgb(240, 240, 240) !important;
}

.whitespace:before {
    content: "\2122";
    color: transparent !important;
}

/* Mobile */
@media only screen and (max-width: 767px) {

	.avatar {
		margin: 0 0 5px 0;
	}


	#content {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
    .copyright {
        text-align: center;
    }

	.custom-messages-detail .list-group-item {
		padding-left: 0 !important;
	}

    .navbar-toggle {
		margin-left: 10px !important;
        margin-right: 0;
    }

	.navbar-toggle .btn:hover {
		background-color: rgb(240, 240, 240) !important;
	}

     .navbar-toggle:focus {
        background-color: #eee !important;
    }

    .navbar-toggle.active {
        box-shadow: 0 0 3px #BDBDBD;
        border: solid 1px white;
        background-color: #eee !important;
    }

   .powered-by {
        text-align: center;
    }

    .sidebar-nav {
        position: relative;
        z-index: 3;
    }

    .sidebar-nav .navbar-canvas {
        top: -20px;
        left: -100%;
        position: absolute;
        width: 70%;
        z-index: 2;
		border: 1px solid rgb(200, 200, 200);
        border-radius: 6px;
        box-shadow: 0 0 1px #BDBDBD;
        background: #fff;
        margin: 0 !important;
        padding-bottom: 10px;
        will-change: left; 
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
    }

    .sidebar-nav.active .main-menu {
        border-top: none;
    }

    .sidebar-nav.active .navbar-canvas {
        top: -13px;
        left: 5px;
    }

	.sidebar-nav.active .navbar-canvas:hover {
		border: 1px solid rgb(180, 180, 180);
        box-shadow: 0 0 1px #BDBDBD;
	}
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 979px) {

}

/* Computer */
@media only screen and (min-width: 980px) {
    a, button, input[type=submit], input[type=button], .product-img {
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
    }
}
