<table class="table table-hover table-condensed hidden-xs">
	<thead>
		<tr class="bg-primary">
			<th>Subject</th>
			<th>Sender</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="message in listCtrl.messages">
			<td><a ng-href="#/view/{{message.id}}" ng-bind="message.subject" class=""></a></td>
			<td ng-bind="message.sender" class="text-muted"></td>
			<td ng-bind="message.date" class="text-muted small"></td>
		</tr>
	</tbody>
</table>

<div class="list-group visible-xs-block hidden-sm hidden-md hidden-lg">
<a ng-repeat="message in listCtrl.messages" ng-href="#/view/{{message.id}}" class="list-group-item">
	<p class="list-group-item-heading">
		<span class="label label-primary"><b>Subject:</b></span>
		<span ng-bind="message.subject" class="custom-message-xs-value text-primary"></span>
	</p>
	<p class="list-group-item-heading">
		<span class="label label-default"><b>Sender:</b></span>
		<span ng-bind="message.sender" class="custom-message-xs-value"></span>
	</p>
	<p class="list-group-item-text">
		<span class="custom-message-xs-date text-muted label label-default"><b> Date:</b></span>
		<span ng-bind="message.date" class="custom-message-xs-value small"></span>
	</p>
</a>
</div>