<div>
  <form name="testForm" ng-submit="testCtrl.put(testCtrl.newCacheKey, testCtrl.newCacheValue)">
	<input ngbk-focus ng-model="testCtrl.newCacheKey" placeholder="Key" required>
	<input ng-model="testCtrl.newCacheValue" placeholder="Value" required>
	<br>
	<button ng-disabled="!testForm.$valid" type="submit">Cache</button>
	<button ng-click="testCtrl.reset()" type="reset">Reset</button>
  </form>

  <p ng-if="testCtrl.keys.length">Cached Values</p>
  <div ng-repeat="key in testCtrl.keys">
    <span ng-bind="key"></span>
    <span>: </span>
    <b ng-bind="testCtrl.cache.get(key)"></b>
  </div>

  <p>Cache Info</p>
  <div ng-repeat="(key, value) in testCtrl.cache.info()">
    <span ng-bind="key"></span>
    <span>: </span>
    <b ng-bind="value"></b>
  </div>
</div>
