<ul class="list-group custom-contacts">
<li ng-repeat="contact in contactsCtrl.contacts" class="list-group-item">
	<table>
		<tr>
			<td class="rowspan" rowspan="3">
				<img src=".{{contact.avatar}}">
			</td>
			<td>
				<div>
					<span ng-bind="contact.name"></span> <span ng-bind="contact.surname"></span>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<span ng-bind="contact.age | ageCompletion"></span>
			</td>
		</tr>
		<tr>
			<td>
				<a ng-href="mailto:{{contact.email}}">e-mail</a>
			</td>
		</tr>
	</table>
</li>
</ul>
