<div ng-hide="listUserMessagesCtrl.userMessages.length"
	 class="noscript-alert alert alert-block center-block text-danger col-xs-10 col-xs-offset-1 col-sm-5">
	<p>Нет входящих писем от этого пользователя!</p>
</div>

<section ng-show="listUserMessagesCtrl.userMessages.length" class="list-group custom-messages-list">
	<li ng-repeat="message in listUserMessagesCtrl.userMessages | filter:listUserMessagesCtrl.liveSearchService.searchText"
	data-toggle="tooltip" title="{{message.body}}" class="list-group-item">
		<table>
			<tbody>
				<tr>
					<td>
						<div class="list-value text-default">
							<img ng-src="images/{{message.userId}}.jpg" class="avatar img-circle">
						</div>
					</td>

					<td class="list-name">
						<div class="list-value text-default">
							<p>
								<a ng-href="#/view-message/{{message.id}}" class="show-mes list-group-item">
									открыть письмо</a>
							</p>
							<p>
								<span ng-bind="message.name"></span>
							</p>
						</div>
					</td>
				</tr>
				<tr>
					<td class="text-right">
						<div class="small"><b>email:</b></div>
					</td>

					<td>
						<div class="list-value text-primary">
							<span ng-bind="message.email"></span>
						</div>
					</td>
				</tr>
				<tr>
					<td class="text-right">
						<div class="small"><b>Тема:</b></div>
					</td>

					<td>
						<div ng-bind="message.title" class="list-value"></div>
					</td>
				</tr>
			</tbody>
		</table>
	</li>
	<div id="scrollTop"><a title="Наверх">^ Наверх ^</a></div>
</section>