<div class="list-group custom-messages-list">
	<a ng-repeat="message in listCtrl.messages" ng-href="#/view/{{message.id}}" class="list-group-item">
		<table>
			<tr>
				<td class="text-right">
					<div class="small"><b>От:</b></div>
				</td>
				<td>
					<div ng-bind="message.sender | stringLengthLimit" class="list-value"></div>
				</td>
			</tr>
			<tr>
				<td class="text-right">
					<div class="small"><b>Тема:</b></div>
				</td>
				<td>
					<div ng-bind="message.subject | stringLengthLimit" class="list-value text-primary"></div>
				</td>
			</tr>
			<tr>
				<td class="text-right">
					<div class="list-date small"><b>Дата:</b></div>
				</td>
				<td>
					<div ng-bind="message.date" class="list-value text-muted small"></div>
				</td>
			</tr>
		</table>
	</a>
</div>
