<section class="list-group custom-messages-list">
	<a ng-repeat="message in listUserMessagesCtrl.userMessages | filter:listUserMessagesCtrl.liveSearchService.searchText"
   ng-href="#/view-message/{{message.id}}" data-toggle="tooltip"
   title="{{message.body}}" class="list-group-item">

		<table>
			<tbody>
				<tr>
					<td>
						<div class="list-value text-default">
							<img ng-src="images/{{message.userId}}.jpg" class="avatar img-responsive img-circle">
						</div>
					</td>

					<td class="list-name">
						<div class="list-value text-default">
							<span ng-bind="message.name"></span>
						</div>
					</td>
				</tr>
				<tr>
					<td class="text-right">
						<div class="small"><b>email:</b></div>
					</td>

					<td>
						<div class="list-value text-primary">
							<span ng-bind="message.email"></span>
						</div>
					</td>
				</tr>
				<tr>
					<td class="text-right">
						<div class="small"><b>Тема:</b></div>
					</td>

					<td>
						<div ng-bind="message.title" class="list-value"></div>
					</td>
				</tr>
			</tbody>
		</table>
	</a>

	<a id="scrollTop" title="Наверх">^ Наверх ^</a>
</section>