<nav class="navbar-canvas" role="navigation">
	<ul id="bs-navbar-collapse-1" class="nav nav-pills nav-stacked main-menu collapse navbar-collapse">
		<li class="inbox">
			<a href="#/">
				<i class="glyphicon glyphicon-folder-open"></i>
				<span>Входящие</span>
				<span messages-count class="badge pull-right"></span>
			</a>
		</li>
		<li class="outbox">
			<a>
				<i class="glyphicon glyphicon-briefcase"></i>
				<span>Отправленные</span>
			</a>
		</li>
		<li class="draft">
			<a href="#/draft">
				<i class="glyphicon glyphicon-trash"></i>
				<span>Корзина</span>
				<span draft-count class="badge pull-right"></span>
			</a>
		</li>
		<li class="users">
			<a href="#/users">
				<i class="glyphicon glyphicon-user"></i>
				<span>Контакты</span>
				<span users-count class="badge pull-right"></span>
			</a>
		</li>
	 </ul>
</nav>