<section class="list-group custom-messages-detail">
	<a data-toggle="tooltip" title="ответить" class="list-group-item">

		<table>
			<tbody>
				<tr>
					<td>
						<div class="list-value text-default">
							<img ng-src="images/{{viewMessageCtrl.message.userId}}.jpg" class="avatar img-responsive img-circle">
						</div>
					</td>

					<td class="list-name">
						<div class="list-value text-default">
							<span ng-bind="viewMessageCtrl.message.name"></span>
						</div>
					</td>
				</tr>
				<tr>
					<td class="text-right">
						<div class="small"><b>email:</b></div>
					</td>

					<td>
						<div class="list-value text-primary">
							<span ng-bind="viewMessageCtrl.message.email"></span>
						</div>
					</td>
				</tr>
				<tr>
					<td class="text-right">
						<div class="list-value small"><b>Тема:</b></div>
					</td>

					<td>
						<div ng-bind="viewMessageCtrl.message.title" class="list-value"></div>
					</td>
				</tr>
			</tbody>
		</table>

	</a>
</section>

<section ng-bind="viewMessageCtrl.message.body" class="message-detail well well-sm"></section>