<section class="list-group custom-messages-detail">
	<li class="list-group-item">
		<table>
			<tbody>
				<tr>
					<td>
						<div class="list-value text-default">
							<img ng-src="images/{{viewDraftMessageCtrl.message.userId}}.jpg" class="avatar img-responsive img-circle">
						</div>
					</td>

					<td class="list-name">
						<div class="list-value text-default">
							<p ng-show="viewDraftMessageCtrl.message.userId" class="show-user-mes">
								<a ng-href="#/list-user-messages/{{viewDraftMessageCtrl.message.userId}}" class="show-mes list-group-item">
								показать все письма пользователя</a>
							</p>

							<p class="show-del-mes-button">
								<span class="label label-default">
								это письмо в корзине</span>
							</p>

							<p>
								<span ng-bind="viewDraftMessageCtrl.message.name"></span>
							</p>
						</div>
					</td>
				</tr>
				<tr>
					<td class="text-right">
						<div class="small"><b>email:</b></div>
					</td>

					<td>
						<div class="list-value text-primary">
							<span ng-bind="viewDraftMessageCtrl.message.email"></span>
						</div>
					</td>
				</tr>
				<tr>
					<td class="text-right">
						<div class="list-value small"><b>Тема:</b></div>
					</td>

					<td>
						<div ng-bind="viewDraftMessageCtrl.message.title" class="list-value"></div>
					</td>
				</tr>
			</tbody>
		</table>
	</li>
</section>

<section ng-bind="viewDraftMessageCtrl.message.body" class="message-detail well well-sm"></section>